@charset "utf-8";
html,body{width:100%;height:100%;}
*,html,body{margin:0;padding:0;text-align:left;font-family:"microsoft yahei";font-size:12px;}
body{/*background:url("/images/common-bg.jpg");*/}
a{text-decoration:none;color:blue;}
table{border-collapse:collapse;width:100%;}

#wrapper{width:100%;height:100%;}
#menu-bar{width:100%;height:60px;line-height:60px;text-align:center;padding-top:20px;}

#menu-bar a.menu-item{display:inline-block;border:1px solid #fff;height:40px;width:80px;line-height:40px;text-align:center;border-radius:20px;color:#333;}
#menu-bar a.menu-item:hover{background-color:#fff;opacity:0.5;border:1px solid #000;}
#menu-bar .cur-menu-item{background:rgba(0,0,0,.2);border:1px solid;}
.sep-line{height:30px;border:none;border-bottom:1px solid #fff;width:80%;margin:0 auto;}

#data{width:90%;margin:0 auto;height:500px;margin-top:10px;overflow:auto;border:1px solid #ccc;}

h2{text-align:center;margin:5px auto;font-size:24px;font-weight:normal;}
th{text-align:center;}
th,td{word-wrap: break-word; word-break: normal; white-space:nowrap;padding:4px 6px;border:1px solid #ccc;height:20px;}
.btn_line{text-align:center;height:30px;}
td .com_btn{padding:4px 6px;background:none;border:1px solid #fff;border-radius:15px;cursor:pointer;}
td .com_btn:hover{background:#fff;opacity:0.9;border-color:#000;}

#add_table{width:60%;margin:0 auto;}
#add_table input.txt{border:1px solid #fff;background:none;height:24px;border-radius:4px;width:180px;}
.op_btn{background:#cc6633;padding:2px 4px;border-radius:2px;color:#000;}
.op_td{text-align:center;}